<div class="card">
  <div class="card-body" data-cy="card-planet-result">
    <h6 class="card-subtitle mb-2 text-muted" data-cy="planet-name-result">{{planet.name}}</h6>
    <div class="row">
      <div class="col-sm-2">Population:</div>
      <div class="col-sm-10" data-cy="planet-population-result">
        {{planet.population}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">Climate:</div>
      <div class="col-sm-10" data-cy="planet-climate-result">
        {{planet.climate}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">Gravity:</div>
      <div class="col-sm-10" data-cy="planet-gravity-result">
        {{planet.gravity}}
      </div>
    </div>
  </div>
</div>
